* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
}

#titles, #waveform-container {
    margin: 24px auto;
    width: 1000px;
}

#zoomview-container, #overview-container {
    /* margin: 0 0 24px 0; */
    line-height: 0;
    -moz-box-shadow: 3px 3px 20px #919191;
    -webkit-box-shadow: 3px 3px 20px #919191;
    box-shadow: 3px 3px 20px #919191;
}

#zoomview-container {
    height: 200px;
}

#overview-container {
    background-color: aliceblue;
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    opacity: 0;
    height: 85px;
}

#demo-controls {
    margin: 0 auto 24px auto;
    width: 1000px;
    display: flex;
    align-items: center;
}

#demo-controls button {
    background: #fff;
    border: 1px solid #919191;
    cursor: pointer;
}

#audio {
    position: absolute;
    bottom: 0;
    opacity: 50%;
    flex: 0 0 30%;
    z-index: 100;
    opacity: 0;
}

#controls {
    flex: 1;
    margin-left: 1em;
}

#seek-time {
    width: 4em;
}

.log {
    margin: 0 auto 24px auto;
    width: 1000px;
}

table {
    width: 100%;
}

table th {
    text-align: left;
}

table th, table td {
    padding: 0.5em;
}

.hide {
    display: none;
}

p code {
    margin-left: 4em
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#debug {
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: pink;
    width: 100px;
    height: 100px;
    z-index: 200;
}